.landing-root {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

.landing-image-header-div {
  height: 87vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-family: Helvetica;
  margin-top: 80px;
}

.landing-image {
  height: 520px;
  width: 440px;
  filter: drop-shadow(5px 5px 10px rgba(128, 128, 128, 0.4));
}

.header {
  text-align: right;
  width: 550px;
  margin-top: 80px;
}

.header-note {
  height: 192px;
  text-align: right;
  letter-spacing: 2px;
  font-size: 60px;
  font-weight: 700;
  color: rgba(36, 13, 87, 1);
  margin-bottom: 25px;
}

.header-note > font {
  display: block;
  font-size: 60px;
  background: -webkit-linear-gradient(
    left,
    rgba(132, 86, 236, 1),
    rgba(232, 123, 248, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.note {
  font-size: 20px;
  width: 90%;
  margin-left: auto;
  font-weight: 300;
  text-align: right;
  color: rgba(79, 79, 79, 1);
}

.landing-create-button {
  position: absolute;
  top: 70%;
  left: 62%;
  width: 320px;
  height: 55px;
  border-radius: 15px;
  background: linear-gradient(
    to right,
    rgba(132, 86, 236, 1),
    rgba(232, 123, 248, 1)
  );
}

@media screen and (max-width: 960px) {
  .landing-root {
    width: 100%;
    align-items: center;
    height: fit-content;
    margin-top: 0px;
  }

  .landing-image-header-div {
    margin-top: 10px;
    height: 100%;
    height: auto;
    flex-direction: column;
    margin-top: 0px;
  }

  .header {
    width: 100%;
    margin-top: 20px;
  }

  .header-note {
    font-size: 36px;
    text-align: center;
    margin-bottom: -50px;
    width: 100%;
  }

  .header-note > font {
    font-size: 36px;
  }

  .note {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
  }

  .landing-image {
    width: 165px;
    height: 380px;
    margin: auto;
  }

  .landing-create-button {
    margin: auto;
    position: static;
    margin-top: 50px;
    margin-bottom: 20px;
    bottom: 100%;
    left: 0;
    width: 187px;
    height: 55px;
    border-radius: 15px;
    background: linear-gradient(
      to right,
      rgba(132, 86, 236, 1),
      rgba(232, 123, 248, 1)
    );
  }
}
